<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форум вопросов</title>
</head>
<body>
    <h1>Все вопросы нашего форума</h1>

    {% for question in questions %}
        <div style="border: 1px solid gray; margin-bottom: 15px; padding: 10px;">
            <h3>{{ question.title }}</h3>
            <p>{{ question.text }}</p>
            
            {% if question.image %}
                <img src="{{ question.image.url }}" width="300" alt="Изображение к вопросу">
            {% endif %}
        </div>
    {% empty %}
        <p>Вопросов пока нет. Будь первым, кто его добавит!</p>
    {% endfor %}

</body>
</html>